*.cmi
*.cmo
*.cmx
*.annot
*.o
*.exe
*.opt
*.run
.omakedb*
*.omc
*.lp
*.lpo
*.thc
*.dep
*.out
*.output
*.html
*.native
!index.html
src/lexer.ml
src/parser.ml
src/parser.mli
src/version.ml
src/abella
src/unit_test
abella
_build
examples/examples.tar.gz
